* {
  margin: 0;
  padding: 0;
}

.hero-section {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMGbmP8ZB0t6kGbO-o9W8ZcDdhp5EWs3LI-g&usqp=CAU);
  background-size: cover;
  background-position: center;
  height: 300px;
}
.hero-section .body-text {
  color: #f9fbfd;
}

.contact-section {
  background-image: url("https://mannatthemes.com/selfown/default/images/personal/testi-pet.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin: 50px 0;
  background-color: #f9fbfd !important;
}
.footer-section {
  background-color: #172d51;
}
.footer-section .footer-link:hover a {
  color: white;
}

.footer-section .footer-section-seprator {
  color: white;
}
.footer-section h4 {
  color: white;
}

.footer-section .footer-section-copyright {
  color: #6c757d;
}

.footer-section .footer-link a {
  text-decoration: none;
  color: #6c757d;
}
.button-footer {
  border-radius: 50%;
  color: #6c757d;
  background-color: #f7fafd;
}
